.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  h1 {
    font-size: 3em;
  }
}

.not-found__link {
  display: block;
  padding: 9px 21px 6px 11px;
  font-size: 19px;
  line-height: 1.211;
  font-weight: 300;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  border-radius: 3px;
  -webkit-transition: background .3s, color .3s, text-shadow .3s;
  transition: background .3s, color .3s, text-shadow .3s;

  &:hover,
  &:focus {
    text-shadow: 1px 0 0, 0.5px 0 0, -1px 0 0;
  }
}
